.quizList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    grid-gap: 15px 15px;
}

@media (min-width: 780px) {
    .quizList {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}